
.vs/RPG_Text_Based_Game_Engine/DesignTimeBuild/.dtbcache
.vs/RPG_Text_Based_Game_Engine/v15/.suo
.vs/RPG_Text_Based_Game_Engine/v15/Server/sqlite3/storage.ide-shm
.vs/RPG_Text_Based_Game_Engine/v15/Server/sqlite3/storage.ide-wal
.vs/RPG_Text_Based_Game_Engine/v15/Server/sqlite3/storage.ide
.vs/RPG_Text_Based_Game_Engine/v15/Server/sqlite3/storage.ide-wal
